
<div id="change-password-container" class="col-sm-12 col-md-6 col-lg-3">  

    <form (ngSubmit)="Change()" ngNativeValidate>
        <div class="form-group">
          <label for="old">Old password</label>
          <input type="password" class="form-control" name="old" [(ngModel)]="oldPassword" required>
        </div>
        <div class="form-group">
          <label for="new-password">New password</label>
          <input type="password" class="form-control" name="new-password" [(ngModel)]="newPassword" required>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters long, contain letters and numbers, and special characters.
          </small>
        </div>

        <div class="form-group">
            <label for="rep-password">Repeat new password</label>
            <input type="password" class="form-control" name="rep-password" [(ngModel)]="repPassword" required> 
          </div>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-key"></i> Change password</button>
      </form>

  
</div>
