
<div id="change-password-container">  

    <form (ngSubmit)="Change()">
        <div class="form-group">
          <label for="old">Old password</label>
          <input type="password" class="form-control" name="old" [(ngModel)]="oldPassword">
        </div>
        <div class="form-group">
          <label for="new-password">New password</label>
          <input type="password" class="form-control" name="new-password" [(ngModel)]="newPassword">
        </div>

        <div class="form-group">
            <label for="rep-password">Repeat new password</label>
            <input type="password" class="form-control" name="rep-password" [(ngModel)]="repPassword">
          </div>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-key"></i> Change password</button>
      </form>

  
</div>
