#add-container{

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

form {
    
    margin-left: auto;
    margin-right: auto;
}

.single-field{
    padding: 20px;
    background: #ECEFF1;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.question-header{
    display: flex;
    justify-content: space-between;
}

.question-header i{
    margin-left: 10px;
}

.field-header{
    display: flex;
    justify-content: space-between;
}

#database-questions{
    margin-top: 20px;
}

button {
    margin-right: 10px;
}

#load-json{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-left: 10px solid #607D8B;
}

.dropdown button{
    margin-bottom: 10px;
}